ion-content {
    --background: #f4f4f4;
  }
  
  ion-item {
    --background: #ffffff;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  ion-button {
    margin-top: 20px;



  ion-datetime::part(column-day) .calendar-day-name {
    display: inline-block;
    width: auto;
    font-size: 12px; /* Ajusta el tamaño de letra si lo necesitas */
    text-transform: uppercase; /* Opcional, si quieres todo en mayúsculas */
  }
      
  }