<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="ion-text-center">
      <img src="assets/icon/car-solid.svg" alt="Car Logo" class="logo" />
      <h2>Bienvenido de nuevo</h2>
    </div>

    <!-- Correo Electrónico -->
    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" formControlName="username"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="loginForm.get('username')?.hasError('required') && loginForm.get('username')?.touched">
      Este campo es requerido.
    </ion-note>
    <ion-note color="danger" *ngIf="loginForm.get('username')?.hasError('email') && loginForm.get('username')?.touched">
      Introduce un correo electrónico válido.
    </ion-note>

    <!-- Contraseña -->
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [type]="showPassword ? 'text' : 'password'" formControlName="password"></ion-input>
      <ion-button slot="end" fill="clear" (click)="toggleShowPassword()">
        <ion-icon [name]="showPassword ? 'eye-off' : 'eye'"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-note color="danger" *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
      Este campo es requerido.
    </ion-note>
    <ion-note color="danger" *ngIf="loginForm.get('password')?.hasError('minlength') && loginForm.get('password')?.touched">
      Debe tener al menos 6 caracteres.
    </ion-note>

    <!-- Botón de Inicio de Sesión -->
    <ion-button expand="block" type="submit" class="ion-margin-top">
      Iniciar Sesión
    </ion-button>

    <!-- Enlaces -->
    <div class="ion-text-center ion-margin-top">
      <ion-text color="medium">¿Olvidaste tu contraseña?</ion-text>
      <ion-button fill="clear" size="small" (click)="goToResetPassword()">
        Restablecer
      </ion-button>
    </div>

    <div class="ion-text-center ion-margin-top">
      <ion-text color="medium">¿No tienes una cuenta?</ion-text>
      <ion-button fill="clear" (click)="goToRegister()">
        Regístrate
      </ion-button>
    </div>
  </form>
</ion-content>