<ion-content class="ion-padding">
  <div class="login-container">
    <div class="logo-container">
      <!-- Aumentar el tamaño del logo -->
      <img src="assets/icon/car-solid.svg" alt="TeLlevoAPP Logo" class="logo-icon" style="width: 200px; height: 200px;">
      <h1>TeLlevoAPP</h1>
    </div>

    <form (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="username" name="username" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" class="login-button">
        Iniciar Sesión
      </ion-button>
    </form>

    <div class="additional-options">
      <ion-button fill="clear" (click)="goToResetPassword()">
        ¿Olvidaste tu contraseña?
      </ion-button>
      <ion-button fill="clear" (click)="goToRegister()">
        ¿No tienes cuenta? Regístrate
      </ion-button>
    </div>
  </div>
</ion-content>